<!-- Hi there -->
<div class="container">
  <h1>Career Analyst AI</h1>
  <p>This is a simple example of leveraging Angular or React, C#, SignarR, and OpenAI to build a tailored AI chatbot. In this example, this chatbot is tailored to be a career analyst and give detailed, no-BS information when prompted about a career.</p>

  <div class="promptSection">
    <input type="text" id="iPrompt" placeholder="What career are you interestted in going into?" [(ngModel)]="promptMessage"/>
  </div>
  
  <div class="actionSection">
    <button (click)="doSubmit()" [disabled]="!enabledBtn">Do stuff</button>
  </div>

  <div id="messageContent" [innerHTML]="messageContent" >
    
  </div>
</div>